body {
  padding: 0;
  margin: 0;
  font-family: Mont-Heavy;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: 1.5fr 3fr 2fr;
}

* {
  box-sizing: border-box;
}

.ant-input-data-count {
  color: white !important;
}